<div class="text-center mt-2 mb-2">
    <h1>Éléments de menu</h1>
</div>

<div class="text-end me-2">
  <%= link_to 'Ajouter un élément de menu', new_menu_item_path, class: 'btn btn-success mb-3' %>
</div>

<table class="table text-center">
  <thead>
    <tr>
      <th>Catégorie</th>
      <th>Nom</th>
      <th>Description</th>
      <th>Jour</th>
      <th>Prix</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @menu_items.each do |item| %>
      <tr>
        <td><%= item.category %></td>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= translate_day_to_french(item.day) %></td> <!-- Use the helper to translate the day to French -->
        <td>$<%= item.price %></td>
        <td>
          <%= link_to 'Montrer', menu_item_path(item), class: 'btn btn-info' %>
          <%= link_to 'Modifier', edit_menu_item_path(item), class: 'btn btn-warning' %>
          <%= link_to 'Supprimer', menu_item_path(item), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
