<div class="text-center mt-2 mb-2">
  <h1>Éléments de menu</h1>
</div>

<div class="text-end">
  <%= link_to 'Ajouter un élément de menu', new_menu_item_path, class: 'btn btn-success mb-3' %>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Catégorie</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Jour</th>
        <th>Prix</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @menu_items.each do |item| %>
        <tr>
          <td data-label="Catégorie"><%= item.category %></td>
          <td data-label="Nom"><%= item.name %></td>
          <td data-label="Description"><%= item.description %></td>
          <td data-label="Jour"><%= translate_day_to_french(item.day) %></td>
          <td data-label="Prix">$<%= item.price %></td>
          <td data-label="Action">
            <%= link_to 'Montrer', menu_item_path(item), class: 'btn btn-info' %>
            <%= link_to 'Modifier', edit_menu_item_path(item), class: 'btn btn-warning' %>
            <%= link_to 'Supprimer', menu_item_path(item), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
