<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="card shadow-sm" style="max-width: 600px; width: 100%;">
    <div class="card-body">
      <h5 class="card-title text-center mb-4">Forgot your password?</h5>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-3">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="d-grid gap-2">
          <%= f.submit "Envoyez-moi les instructions de réinitialisation du mot de passe", class: "btn btn-primary" %>
        </div>
      <% end %>

      <div class="text-center mt-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
