<%# <div class="text-center">
    <h1>Accueille</h1>
</div> %>

<div class="banner">
  <%= image_tag "cafe bello banner.jpg", alt: "Sandwich Shop" %>
</div>

<hr>
  <div class="text-center">
    <p>Maintenant avec un nouvel emplacement</p>
  </div>
<hr>

<div class="">
  <div class="row">
    <div class="col-6 col-md-3">
      <img src="<%= asset_path('cafebello1.jpg') %>" class="img-fluid rounded cafe-img" alt="Image 1">
    </div>
    <div class="col-6 col-md-3">
      <img src="<%= asset_path('cafebello lachute.jpg') %>" class="img-fluid rounded cafe-img" alt="Image 2">
    </div>
    <div class="col-6 col-md-3">
      <img src="<%= asset_path('cafebello3.jpg') %>" class="img-fluid rounded cafe-img" alt="Image 3">
    </div>
    <div class="col-6 col-md-3">
      <img src="<%= asset_path('cafebello4.jpg') %>" class="img-fluid rounded cafe-img" alt="Image 4">
    </div>
  </div>
</div>

<%# Todays special %>
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="text-muted text-center">
              <%= I18n.l(Time.current, format: :long).split.map(&:capitalize).join(' ') %>
              <p> Spécial du jour </p>
            </h5>

            <% if @menu_item_for_today.present? %>
              <h6 class="card-title text-center"><%= @menu_item_for_today.name %></h6>
              <p class="card-text text-center"><%= @menu_item_for_today.description %></p>
              <h6 class="text-danger fw-bold text-center">$<%= @menu_item_for_today.price %></h6>
            <% else %>
              <p class="text-center">Pas de special pour aujhour'dui.</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div id="sandwichCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-6">
            <%= image_tag "sandwhich1.jpg", class: "d-block sandwich", alt: "Sandwich 1" %>
          </div>
          <div class="col-md-6">
            <%= image_tag "sandwhich2.jpg", class: "d-block sandwich", alt: "Sandwich 2" %>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-6">
            <%= image_tag "sandwhich3.jpg", class: "d-block sandwich", alt: "Sandwich 3" %>
          </div>
          <div class="col-md-6">
            <%= image_tag "sandwhich1.jpg", class: "d-block sandwich", alt: "Sandwich 4" %>
          </div>
        </div>
      </div>
    </div>

    <!-- Carousel Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#sandwichCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#sandwichCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
</div>

<div class="container mt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-4 text-center">
      <a href="">
        <img src="https://scontent.fymq2-1.fna.fbcdn.net/v/t39.30808-1/469702539_3833072000290090_4412799377740084697_n.jpg?stp=dst-jpg_s480x480_tt6&_nc_cat=110&ccb=1-7&_nc_sid=e99d92&_nc_ohc=-p1bAKFXnuUQ7kNvgEOnPqd&_nc_oc=AdlFjrOMhplabQa-6uW7Qda9cvDf2cr31SEN720wDw9S9X2OivCfwk3qb_NcTZ3M69M&_nc_zt=24&_nc_ht=scontent.fymq2-1.fna&_nc_gid=PK72mBUAGoMv-_g-w5IPnw&oh=00_AYGbnQEUByvRFmgUqhdxW-zXjnc2Wb_HKlMAfwiUtGSztw&oe=67E8E4C8" alt="Placeholder" width="140" height="140" class="bd-placeholder-img rounded-circle" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false" />
      </a>
      <h2 class="fw-normal">Eric</h2>
      <p>Better than Tim's.. No comparison</p>
    </div><!-- /.col-lg-4 -->
    
    <div class="col-lg-4 text-center">
      <a href="">
        <img src="https://scontent.fymq2-1.fna.fbcdn.net/v/t39.30808-6/463243558_10160535929290415_2800769595029463953_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=RBKDLzHjYQYQ7kNvgGbgaLb&_nc_oc=AdnKlVKZ9wgrLeEq8d0PlX3jeHAtUfeztPmzZlcsFFinPTzReKWkPy8RHCK5z4EDtaY&_nc_zt=23&_nc_ht=scontent.fymq2-1.fna&_nc_gid=EQLIms2HCGIRoKlZNp7nCQ&oh=00_AYHQyv7Ewlv6FRb0PdzNnAYk4l_FpSR01dRYGeYOnVzG2w&oe=67E8B5D1" alt="Placeholder" width="140" height="140" class="bd-placeholder-img rounded-circle" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false" />
      </a>
      <h2 class="fw-normal">Louise</h2>
      <p>OMG...</p>
    </div><!-- /.col-lg-4 -->
    
    <div class="col-lg-4 text-center">
      <a href="">
        <img src="https://scontent.fymq2-1.fna.fbcdn.net/v/t39.30808-6/362685559_6647676428608731_1447235434484137767_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=Fy79CXkFxWYQ7kNvgF0yZAD&_nc_oc=AdnUu57qyZf9l37LgjeUUNmM5Wd5XU0ucQhTsCis4p6PBFCQm2guGfQ6vrrWfT2iSDU&_nc_zt=23&_nc_ht=scontent.fymq2-1.fna&_nc_gid=ACd46EoFfdSPjEMLN780GQ&oh=00_AYHre1bK7VH-_Htzp9CWl81f7TObzDRApxGxybzqnNUzbw&oe=67E8C1F8" alt="Placeholder" width="140" height="140" class="bd-placeholder-img rounded-circle" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false" />
      </a>
      <h2 class="fw-normal">Norm</h2>
      <p>Best sandwich in town.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div><!-- /.container -->
