<div class="text-center">
  <h1>Edit Menu Item</h1>
</div>

<div class="card shadow-sm mb-4" style="max-width: 600px; margin: auto;">
  <div class="card-body">
    <%= form_with model: @menu_item, url: admin_menu_item_path(@menu_item), method: :patch, local: true do |form| %>
      <div class="form-group mb-3">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group mb-3">
        <%= form.label :description %>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <div class="form-group mb-3">
        <%= form.label :price %>
        <%= form.number_field :price, step: 0.01, class: "form-control" %>
      </div>

      <div class="form-group mb-3">
        <%= form.label :category %>
        <%= form.text_field :category, class: "form-control" %>
      </div>

      <div class="form-group mb-3">
        <%= form.label :day %>
        <%= form.text_field :day, class: "form-control" %>
      </div>

      <%= form.submit "Update Menu Item", class: "btn btn-primary w-100 mb-2" %>
      <%= link_to 'Back', admin_menu_items_path, class: "btn btn-secondary w-100" %>
    <% end %>
  </div>
</div>

