<div class="menu-item-card">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title"><%= @menu_item.name %></h2>
      <p class="card-description"><%= @menu_item.description %></p>

      <ul class="card-info-list">
        <li><strong>Prix:</strong> $<%= @menu_item.price %></li>
        <li><strong>Catégorie:</strong> <%= @menu_item.category %></li>
        <li><strong>Jour:</strong> <%= @menu_item.day %></li>
      </ul>
    </div>
  </div>

  <div class="buttons">
    <%= link_to "Retour", menu_items_path, class: "btn btn-secondary" %>
    <%= link_to "Voir", menu_item_path(@menu_item), class: "btn btn-primary" %>
    <%= button_to "Supprimer", menu_item_path(@menu_item), method: :delete, data: { confirm: "Êtes-vous sûr?" }, class: "btn btn-danger" %>
  </div>
</div>
